Django==1.9.2
django-test-without-migrations==0.4
gevent==1.2.2
greenlet==0.4.13
gunicorn==19.7.1
whitenoise==4.1.2
SQLAlchemy==1.2.17
boto==2.49.0
dj-database-url==0.5.0
django-cors-headers==3.1.0
django-compressor==2.2
django-pipeline==1.6.14
django-sass-processor==0.7.3
ecdsa==0.11
libsass==0.17.0
psycopg2==2.7.7
requests==2.21
unicodecsv==0.14.1

git+https://github.com/OpenUpSA/wazimap.git@releases#egg=wazimap[gdal]
#wazimap[gdal]==1.1.1
GDAL==1.11.0
Shapely>=1.5.13
